*{
    margin: 0;
    padding: 0;
}
.header{
    height: 128px;
    width: 1140px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background-color:rgb(231, 238, 241) ;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo{
    font-family:'Raleway', sans-serif;
    width : 139px;
    height: 25px;
    gap: 20px;
}
.menu{
    display: flex;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin-top: -25px;
    margin-left: 100px;
}
.menu-item{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}
.sub-menu{
    overflow: hidden;
    opacity: 0;
    height: 0;
}
.main{
    width:1140px;
    height: 1800px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position:absolute ;
}
.heading{
    width:563px ;
    height:385px ;
    top: 165px;
    left: 100px;
    position: absolute;
}
.text{
    width: 400px;
    height: 120px;
    left: 15px;
    font-family: 'Raleway', sans-serif;
    
}
.text2{
    width: 500px;
    size: 30px;
    line-height: 28px;
    font-family: 'Raleway', sans-serif;

}
.foto{
    width:703px;
    height: 826px;
    left:558px;
    top: 0px;
    position: absolute;
    background-color:rgb(231, 238, 241);
}
.main_photo{
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
}
.secondary_photo{
    position: absolute;
    margin-left: 500px;
    margin-top: 250px;
}
.third_photo{
    position: absolute;
    margin-left: -30px;
    margin-top: 350px;
}
.collection{
    width:1140px;
    height:auto;
    margin-top:730px;
    padding-left:55px;
    padding-right: 15px;
    position:absolute;
}
.new_collection{
    width: 1140px;
    height:auto;
}
.heading2{
    width: 343px;
    height: 44px;
    position: absolute;
    margin-top: 15px;
    margin-left: 35px;
    font-family: 'Raleway', sans-serif;
}

.slider{
    width: 350px;
}
.photos{
    position: relative;
    width: 350px;
    height: 478px;
}
.slider-image{
    width: 350px;
    height: 478px;
    position: absolute;
    opacity: 0;
    transition: all 1s;
    margin-left: 95px;
    margin-top:820px;
}
.show{
    opacity: 1;
}
.actions{
    display: flex;
    margin-left: 240px;
    margin-top: 820px;
}
.prev{
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.next{
    font-family: 'Raleway', sans-serif;
    cursor: pointer; 
}
.t-shirts{
    position: absolute;
    margin-left:115px;
    margin-top: -60px;
}
.slider2{
    width: 350px; 
}
.photos2{
    position: relative;
    width: 350px;
    height: 478px;
}
.slider-image2{
    width: 350px;
    height: 478px;
    position: absolute;
    opacity: 0;
    transition: all 1s;
    margin-left: 495px;
    margin-top:-495px;
}
.show2{
    opacity: 1;
}
.actions2{
    display: flex;
    margin-left: 650px;
    margin-top: -495px;
}
.prev2{
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
.next2{
    font-family: 'Raleway', sans-serif;
    cursor: pointer; 
}
.swimsuit{
    position: absolute;
    margin-left:515px;
    margin-top: -60px;
}
.slider1{
    width: 350px;
}
.photos1{
    position: relative;
    width: 350px;
    height: 478px;
}
.slider-image1{
    width: 350px;
    height: 478px;
    position: absolute;
    opacity: 0;
    transition: all 1s;
    margin-left: 895px;
    margin-top: -500px;
}
.show1{
    opacity: 1;
}
.actions1{
    display: flex;
    margin-left: 1020px;
    margin-top: -500px;
}
.prev1{
    font-family: 'Raleway', sans-serif;
    cursor: pointer; 
}
.next1{
    font-family: 'Raleway', sans-serif;
    cursor: pointer;   
}
.sweatshirt{
    position: absolute;
    margin-left:915px;
    margin-top: -60px; 
}
.important{
    width: 1140px;
    height:auto;
    position: absolute;
    margin-top:0px;
    padding-left:55px;
    padding-right: 15px;
    position:absolute;
}
.text_important{
    margin-left:25px;
    margin-top: 50px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
}
.quality{
    margin-left:75px;
    margin-top: 90px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
}
.speed{
    margin-left:450px;
    margin-top: 80px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
}
.responsibility{
    margin-left:850px;
    margin-top: 90px;
    position: absolute; 
    font-family: 'Raleway', sans-serif;
}
.footer{
    width:1190px;
    height: 400px;
    margin-top: 1600px;
    margin-left: 75px;
    position:absolute ;
    background-color:rgb(203, 223, 231) ;
}
.rights{
    margin-left:8px;
    margin-top: 50px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
}

.connection{
    margin-left:450px;
    margin-top: 50px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
}
.form{
    display: block;
    width: 400px;
    margin-top:40px ;
    margin-left: 0px;
}
.input-fieid{
    display: block;
    border: 1px solid blue;
    border-radius: 0;
    padding: 20px 28px;
    margin-bottom: 5px;
    font-size: 20px;
}
.send-btn{
    border: none;
    padding: 20px 28px;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 2s;
}
.twitter{
    margin-left:920px;
    margin-top: 60px;
    position: absolute; 
}
.instagram{
    margin-left:920px;
    margin-top: 140px;
    position: absolute; 
}
.facebook{
    margin-left:920px;
    margin-top: 220px;
    position: absolute;  
}
.payment{
    margin-left:900px;
    margin-top: 320px;
    position: absolute;
}
.error.input-fieid{
    background-color: brown;
}
.error-label{
    display: block;
    color: brown;
    margin-bottom: 10px;
}