*{
    margin: 0;
    padding: 0;
}
header{
    height: 28px;
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo{
    font-family:font-family: 'Raleway', sans-serif;
    width: 139px;
    height: 25px;
    gap: 11px;
}